# Analysis

1. There is a relatively strong correlation bewteen latitude and temperature. The lower 
   latitudes have higher temperatures and the higher latitudes have lower temperatures.
2. The correlation between humidity and latitude is very weak.
3. There is almost no correlation between cloudiness and latitude.
4. The correlation between latitude and wind speed is very weak.
5. Although my sample was random there was a bias toward cities in the northern 
   hemisphere. Most of the cities in my sample were located in Europe.

In [1]:
#Dependencies

import pandas as pd
import matplotlib.pyplot as plt
import seaborn
from citipy import citipy
import random
import csv
import requests
import time

In [2]:
api_key = "213a12f465b96b1217eafde3156aab85"

In [3]:
#Import CSV file, and read into DataFrame.

world_data = pd.read_csv("resources/worldcities.csv")

#Preview the data.
world_data.head()

  Country              City   Latitude  Longitude
0      ad  andorra la vella  42.500000   1.516667
1      ad           canillo  42.566667   1.600000
2      ad            encamp  42.533333   1.583333
3      ad        la massana  42.550000   1.516667
4      ad      les escaldes  42.500000   1.533333

In [4]:
# Randomly select 500 cities for weather data.

selected_cities = world_data.sample(n=500)

#Visualize the selected cities DataFrame.

selected_cities

      Country                  City   Latitude   Longitude
23153      mu             clemencia -20.263889   57.706111
30940      pk            rawalpindi  33.600700   73.067900
33956      ro              pungesti  46.700000   27.333333
45282      us         franklin park  40.583333  -80.088056
151        am              akhuryan  40.781389   43.896389
46247      uz               karmana  40.141389   65.365000
8686       de                coswig  51.883333   12.450000
13829      gr                krokos  40.266667   21.816667
12524      gb              falmouth  50.148333   -5.076111
7253       co         roberto payan   1.696594  -78.244817
37000      ru             melnikovo  56.555833   84.085000
13646      gr             kallithea  41.250000   24.733333
35298      ru            bashmakovo  53.213292   43.034202
21507      jp             kokubunji  35.702222  139.475556
1475       be               donceel  50.650000    5.316667
32201      ro                  bala  44.883889   22.833333
28510      ph            laguilayan   6.652500  124.521111
34600      ro              urziceni  47.733333   22.400000
35996      ru                ilinka  46.238299   47.900683
46039      us          salmon creek  45.710833 -122.647778
46320      ve                  coro  11.409167  -69.667222
28879      ph                mainit   9.537200  125.522700
35729      ru               donskoy  47.414044   40.257424
42084      us             ketchikan  55.342222 -131.646111
7392       co                simiti   7.957900  -73.943600
14676      gt  santa maria ixhuatan  14.190000  -90.274722
10676      es                arahal  37.262727   -5.545297
35317      ru                baykit  61.676944   96.379167
18880      in                pakaur  24.633333   87.850000
46080      us               weirton  40.418889  -80.589722
...       ...                   ...        ...         ...
39996      sy               baniyas  35.183333   35.950000
31411      pl               wolbrom  50.378801   19.765041
6378       cn              wangqing  43.321787  129.763416
4693       ca              joliette  46.033333  -73.433333
12927      gb             sheffield  53.366667   -1.500000
25743      nl             zandvoort  52.371424    4.527049
23971      mx               jitotol  17.033333  -92.866667
36943      ru             manturovo  58.328889   44.764056
28170      ph                  gabi  11.595600  123.337600
32921      ro                dobrun  44.266667   24.216667
11569      fr                 douai  50.372362    3.088996
43510      us          fort madison  40.629722  -91.315000
46459      vu                norsup -16.066667  167.383333
3255       br         lago da pedra  -4.333333  -45.166667
4233       br       varzea paulista -23.200000  -46.833333
32158      ro                 auseu  47.033333   22.500000
7588       cr              guapiles  10.215878  -83.786609
31075      pl     dabrowa tarnowska  50.174915   20.990776
42011      ug             sembabule  -0.077222   31.456667
44495      us            bloomfield  40.806667  -74.185833
30560      ph               tuburan   6.643889  122.273611
7023       co          los cordobas   8.894026  -76.354551
23815      mx        general cepeda  25.383333 -101.450000
2453       br              barretos -20.550000  -48.550000
28138      ph                erenas  12.424500  124.323800
29928      ph             san mateo   7.149444  124.583056
37799      ru            proletariy  58.434231   31.704619
42276      us             crestline  34.241944 -117.284722
1773       be                tellin  50.083333    5.216667
23817      mx         general teran  25.266667  -99.683333

[500 rows x 4 columns]

In [5]:
#Counter

row_count = 0

# Create blank columns for the necessary fields.

selected_cities["Temperature"] = ""
selected_cities["Humidity"] = ""
selected_cities["Cloudiness"] = ""
selected_cities["Wind Speed"] = ""

# Loop through and get the weather data using the Open Weather API.

for index, row in selected_cities.iterrows():
    #Sleep to help with the call limit
    
    time.sleep(1)
    
    #Open weather url.
    
    url = "https://api.openweathermap.org/data/2.5/weather?"
    units = "Imperial"
    
    query_url = url + "lat="+ str(row["Latitude"]) + "&lon=" + str(row["Longitude"]) + "&appid=" + api_key + "&units=" + units
    #Print log to ensure the loop is working correctly.
    
    print("Now retieving city # " + str(row_count))
    print(query_url)
    row_count += 1
    
    #Run requests to grab the JSON at the requested URL
    
    city_weather = requests.get(query_url).json()
    
    
  
    try:
        temperature = city_weather["main"]["temp"]
        humidity = city_weather["main"]["humidity"]
        cloudiness = city_weather["clouds"]["all"]
        wind_speed = city_weather["wind"]["speed"]
        
        selected_cities.loc(index, "Temperature") = temperature
        selected_cities.set_value(index,"Humidity", humidity)
        selected_cities.set_value(index,"Cloudiness", cloudiness)
        selected_cities.set_value(index,"Wind Speed", wind_speed)
    except:
        print("Error with weather data, skipping.")
        #continue
selected_cities

SyntaxError: can't assign to function call (<ipython-input-5-480356fb363e>, line 43)

In [ ]:
selected_cities.to_csv("WorldWeatherData.csv", index=False)

In [ ]:
plt.scatter(selected_cities["Latitude"],selected_cities["Temperature"], alpha = 0.5)

plt.title("Temperature (F) vs. Latitude Date of Analysis 07-09-2018")
plt.xlabel("Latitude")
plt.ylabel("Temperature (F)")
plt.savefig("Temperature.png")
plt.show()

In [ ]:
plt.scatter(selected_cities["Latitude"],selected_cities["Humidity"], alpha = 0.75)

plt.title("Latitude vs. Humidity Date of Analysis 07-09-2018")
plt.xlabel("Latitude")
plt.ylabel("Humidity")
plt.savefig("Humidity.png")
plt.show()

In [ ]:
plt.scatter(selected_cities["Latitude"],selected_cities["Cloudiness"], alpha = 0.75)

plt.title("Latitude vs.Cloudiness Date of Analysis 07-09-2018")
plt.xlabel("Latitude")
plt.ylabel("Cloudiness")
plt.savefig("Cloudiness.png")
plt.show()

In [ ]:
plt.scatter(selected_cities["Latitude"],selected_cities["Wind Speed"], alpha= 0.75)
plt.title("Latitude vs Wind Speed Date of Analysis 07-09-2018")
plt.xlabel("Latitude")
plt.ylabel("Wind Speed")
plt.savefig("Wind Speed.png")
plt.show()

In [ ]:
plt.scatter(selected_cities["Longitude"],selected_cities["Latitude"])
plt.title("Longitude vs Latitude")
plt.show()