# Analysis

1. There is a relatively strong correlation bewteen latitude and temperature. The lower 
   latitudes have higher temperatures and the higher latitudes have lower temperatures.
2. The correlation between humidity and latitude is very weak.
3. There is almost no correlation between cloudiness and latitude.
4. The correlation between latitude and wind speed is very weak.
5. Although my sample was random there was a bias toward cities in the northern 
   hemisphere. Most of the cities in my sample were located in Europe.

In [1]:
#Dependencies

import pandas as pd
import matplotlib.pyplot as plt
import seaborn
from citipy import citipy
import random
import csv
import requests
import time

In [2]:
api_key = "213a12f465b96b1217eafde3156aab85"

In [3]:
#Import CSV file, and read into DataFrame.

world_data = pd.read_csv("resources/worldcities.csv")

#Preview the data.
world_data.head()

  Country              City   Latitude  Longitude
0      ad  andorra la vella  42.500000   1.516667
1      ad           canillo  42.566667   1.600000
2      ad            encamp  42.533333   1.583333
3      ad        la massana  42.550000   1.516667
4      ad      les escaldes  42.500000   1.533333

In [4]:
# Randomly select 500 cities for weather data.

selected_cities = world_data.sample(n=500)

#Visualize the selected cities DataFrame.

selected_cities

      Country                      City   Latitude   Longitude
20388      it                  dueville  45.633333   11.533333
21867      jp                tomigusuku  26.185000  127.675000
35953      ru                    gryazi  52.496573   39.935932
1861       bf                 diebougou  10.966667   -3.250000
23884      mx                      huhi  20.716667  -89.166667
28599      ph                      laya  17.472600  121.467800
14383      gr               xiropotamos  41.200000   24.100000
14703      gt                 tiquisate  14.283333  -91.366667
17528      in                    deoria  26.504722   83.787222
19563      in                   tarabha  20.733333   83.650000
26970      ph                 alangilan   9.279300  122.878900
2379       br                   araruna  -6.533333  -35.733333
19380      in                   sheopur  25.666667   76.700000
6090       cn                    jinsha  32.089817  121.073546
4336       bw                   mochudi -24.416667   26.150000
5202       cf                    baboua   5.800000   14.816667
862        au                 katherine -14.465170  132.263474
7241       co                  ricaurte   4.280754  -74.764687
5488       ch                    schwyz  47.027858    8.656112
3756       br                 queimadas -10.966667  -39.633333
30855      pk                     kunri  25.178471   69.569132
42691      us                bridgeport  41.166944  -73.205278
12931      gb                  sidmouth  50.683333   -3.250000
30476      ph                     tigao   9.208889  126.176111
298        am                    madina  40.080278   45.251111
44675      us                 los lunas  34.806111 -106.732778
13963      gr                  moulkion  38.000000   22.733333
45905      us          colonial heights  37.243889  -77.410556
15373      hu                   bagamer  47.448816   21.989005
38123      ru                 shemordan  56.185600   50.397200
...       ...                       ...        ...         ...
39857      so                   berbera  10.435556   45.016389
24530      mx                    soyalo  16.900000  -92.916667
18061      in                    kaimur  23.383333   79.750000
22238      kz                 zhitikara  52.190833   61.200556
29374      ph                panaytayon   9.950000  123.983333
1075       ba                     cazin  44.966944   15.943056
36629      ru               krasnyy yar  51.629167   46.421667
44916      us            kings mountain  35.245000  -81.341389
10742      es                     camas  37.402023   -6.033141
12831      gb                     omagh  54.583333   -7.250000
41285      ua                    haysyn  48.811429   29.389766
38741      ru                     urukh  43.293353   44.026472
29126      ph                    miaray   7.574722  125.044444
26204      nz                 edgecumbe -37.983333  176.833333
24274      mx                 papalotla  19.162500  -98.204167
30239      ph                    solana   8.623056  124.770556
572        at        bad sankt leonhard  46.962778   14.791667
20895      it  san benedetto del tronto  42.950000   13.883333
3124       br                itapirapua -15.866667  -50.600000
9196       de                   lengede  52.200000   10.300000
36369      ru            kislyakovskaya  46.441700   39.675000
21745      jp                      sano  36.316667  139.583333
23115      mt         san pawl il-bahar  35.948333   14.400556
8973       de                 haselunne  52.666667    7.483333
39039      ru                   vzmorye  47.849444  142.520556
14639      gt        san miguel siguila  14.900000  -91.616667
36777      ru            leningradskaya  46.321400   39.387700
7802       cy                   larnaca  34.916667   33.629167
22239      kz                 zholymbet  51.743333   71.712222
23363      mx                 amecameca  19.116667  -98.766667

[500 rows x 4 columns]

In [ ]:
#Counter

row_count = 0

# Create blank columns for the necessary fields.

selected_cities["Temperature"] = ""
selected_cities["Humidity"] = ""
selected_cities["Cloudiness"] = ""
selected_cities["Wind Speed"] = ""

# Loop through and get the weather data using the Open Weather API.

for index, row in selected_cities.iterrows():
    #Sleep to help with the call limit
    
    time.sleep(1)
    
    #Open weather url.
    
    url = "https://api.openweathermap.org/data/2.5/weather?"
    units = "Imperial"
    
    query_url = url + "lat="+ str(row["Latitude"]) + "&lon=" + str(row["Longitude"]) + "&appid=" + api_key + "&units=" + units
    #Print log to ensure the loop is working correctly.
    
    print("Now retieving city # " + str(row_count))
    print(query_url)
    row_count += 1
    
    #Run requests to grab the JSON at the requested URL
    
    city_weather = requests.get(query_url).json()
    
    
  
    try:
        temperature = city_weather["main"]["temp"]
        humidity = city_weather["main"]["humidity"]
        cloudiness = city_weather["clouds"]["all"]
        wind_speed = city_weather["wind"]["speed"]
        
        selected_cities.set_value(index, "Temperature", temperature)
        selected_cities.set_value(index,"Humidity", humidity)
        selected_cities.set_value(index,"Cloudiness", cloudiness)
        selected_cities.set_value(index,"Wind Speed", wind_speed)
    except:
        print("Error with weather data, skipping.")
        #continue
selected_cities

Now retieving city # 0
https://api.openweathermap.org/data/2.5/weather?lat=45.633333&lon=11.533333&appid=213a12f465b96b1217eafde3156aab85&units=Imperial

C:\Users\dhang\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:48: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\Users\dhang\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:49: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\Users\dhang\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:50: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\Users\dhang\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:51: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

Now retieving city # 1
https://api.openweathermap.org/data/2.5/weather?lat=26.185&lon=127.675&appid=213a12f465b96b1217eafde3156aab85&units=Imperial
Now retieving city # 2
https://api.openweathermap.org/data/2.5/weather?lat=52.496573&lon=39.935932&appid=213a12f465b96b1217eafde3156aab85&units=Imperial
Now retieving city # 3
https://api.openweathermap.org/data/2.5/weather?lat=10.9666667&lon=-3.25&appid=213a12f465b96b1217eafde3156aab85&units=Imperial
Now retieving city # 4
https://api.openweathermap.org/data/2.5/weather?lat=20.716667&lon=-89.166667&appid=213a12f465b96b1217eafde3156aab85&units=Imperial
Now retieving city # 5
https://api.openweathermap.org/data/2.5/weather?lat=17.4726&lon=121.4678&appid=213a12f465b96b1217eafde3156aab85&units=Imperial
Now retieving city # 6
https://api.openweathermap.org/data/2.5/weather?lat=41.2&lon=24.1&appid=213a12f465b96b1217eafde3156aab85&units=Imperial
Now retieving city # 7
https://api.openweathermap.org/data/2.5/weather?lat=14.283332999999999&lon=-91.366667&appid=213a12f465b96b1217eafde3156aab85&units=Imperial
Now retieving city # 8
https://api.openweathermap.org/data/2.5/weather?lat=26.504721999999997&lon=83.787222&appid=213a12f465b96b1217eafde3156aab85&units=Imperial
Now retieving city # 9
https://api.openweathermap.org/data/2.5/weather?lat=20.733333&lon=83.65&appid=213a12f465b96b1217eafde3156aab85&units=Imperial
Now retieving city # 10
https://api.openweathermap.org/data/2.5/weather?lat=9.2793&lon=122.8789&appid=213a12f465b96b1217eafde3156aab85&units=Imperial
Now retieving city # 11
https://api.openweathermap.org/data/2.5/weather?lat=-6.533333&lon=-35.733333&appid=213a12f465b96b1217eafde3156aab85&units=Imperial
Now retieving city # 12
https://api.openweathermap.org/data/2.5/weather?lat=25.666667&lon=76.7&appid=213a12f465b96b1217eafde3156aab85&units=Imperial
Now retieving city # 13
https://api.openweathermap.org/data/2.5/weather?lat=32.089817&lon=121.073546&appid=213a12f465b96b1217eafde3156aab85&units=Imperial
Now retieving city # 14
https://api.openweathermap.org/data/2.5/weather?lat=-24.4166667&lon=26.15&appid=213a12f465b96b1217eafde3156aab85&units=Imperial
Now retieving city # 15
https://api.openweathermap.org/data/2.5/weather?lat=5.8&lon=14.816666699999999&appid=213a12f465b96b1217eafde3156aab85&units=Imperial
Now retieving city # 16
https://api.openweathermap.org/data/2.5/weather?lat=-14.46517&lon=132.263474&appid=213a12f465b96b1217eafde3156aab85&units=Imperial
Now retieving city # 17
https://api.openweathermap.org/data/2.5/weather?lat=4.280754&lon=-74.764687&appid=213a12f465b96b1217eafde3156aab85&units=Imperial
Now retieving city # 18
https://api.openweathermap.org/data/2.5/weather?lat=47.027858&lon=8.656112&appid=213a12f465b96b1217eafde3156aab85&units=Imperial
Now retieving city # 19
https://api.openweathermap.org/data/2.5/weather?lat=-10.966667&lon=-39.633333&appid=213a12f465b96b1217eafde3156aab85&units=Imperial
Now retieving city # 20
https://api.openweathermap.org/data/2.5/weather?lat=25.178471&lon=69.569132&appid=213a12f465b96b1217eafde3156aab85&units=Imperial
Now retieving city # 21
https://api.openweathermap.org/data/2.5/weather?lat=41.1669444&lon=-73.20527779999999&appid=213a12f465b96b1217eafde3156aab85&units=Imperial
Now retieving city # 22
https://api.openweathermap.org/data/2.5/weather?lat=50.683333000000005&lon=-3.25&appid=213a12f465b96b1217eafde3156aab85&units=Imperial
Now retieving city # 23
https://api.openweathermap.org/data/2.5/weather?lat=9.208889&lon=126.176111&appid=213a12f465b96b1217eafde3156aab85&units=Imperial
Now retieving city # 24
https://api.openweathermap.org/data/2.5/weather?lat=40.0802778&lon=45.2511111&appid=213a12f465b96b1217eafde3156aab85&units=Imperial
Now retieving city # 25
https://api.openweathermap.org/data/2.5/weather?lat=34.8061111&lon=-106.7327778&appid=213a12f465b96b1217eafde3156aab85&units=Imperial

In [ ]:
selected_cities.to_csv("WorldWeatherData.csv", index=False)

In [ ]:
plt.scatter(selected_cities["Latitude"],selected_cities["Temperature"], alpha = 0.5)

plt.title("Temperature (F) vs. Latitude Date of Analysis 07-09-2018")
plt.xlabel("Latitude")
plt.ylabel("Temperature (F)")
plt.savefig("Temperature.png")
plt.show()

In [ ]:
plt.scatter(selected_cities["Latitude"],selected_cities["Humidity"], alpha = 0.75)

plt.title("Latitude vs. Humidity Date of Analysis 07-09-2018")
plt.xlabel("Latitude")
plt.ylabel("Humidity")
plt.savefig("Humidity.png")
plt.show()

In [ ]:
plt.scatter(selected_cities["Latitude"],selected_cities["Cloudiness"], alpha = 0.75)

plt.title("Latitude vs.Cloudiness Date of Analysis 07-09-2018")
plt.xlabel("Latitude")
plt.ylabel("Cloudiness")
plt.savefig("Cloudiness.png")
plt.show()

In [ ]:
plt.scatter(selected_cities["Latitude"],selected_cities["Wind Speed"], alpha= 0.75)
plt.title("Latitude vs Wind Speed Date of Analysis 07-09-2018")
plt.xlabel("Latitude")
plt.ylabel("Wind Speed")
plt.savefig("Wind Speed.png")
plt.show()

In [ ]:
plt.scatter(selected_cities["Longitude"],selected_cities["Latitude"])
plt.title("Longitude vs Latitude")
plt.show()